{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %} Categories {% endblock %}

{% block content %}

<style>
   table {
    width: 100%; /* Ширина таблицы */
    border: 10px;
   }
   td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 10px;
    vertical-align: 10px;
   }
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
</style>

{% if categories %}
<table>
    {% for category in categories %}
    <tr>
        <td>
            <b>"{{ category.name }}"</b>
        </td>
        <td align="left">
            {% if request.user in category.subscribers.all %}
            <button type="submit" class="btn btn-danger">
                <a href="/remove_subscriber/{{category.id}} " style="color: white">Unsubscribe</a>
            </button>
            {% else %}
            <button type="submit" class="btn btn-success">
                <a href="/add_subscriber/{{ category.id }}" style="color: white">Subscribe</a>
            </button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
