{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}
Post Detail
{% endblock %}

{% block content %}
<style>
   table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    border: 1px;
   }
   td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px;
    vertical-align: 10px;
   }
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
</style>

<table align="left" cellpadding="20">
    <tr>
        <td>
            <h3 align="left">Title: </h3>
        </td>
        <td width="100%">
            <p align="left">
                <font size="5"> {{ post.title }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h3 align="left">Author: </h3>
        </td>
        <td>
            <p align="left">
                <font size="5"> {{ post.author }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h3 align="left">Category: </h3>
        </td>
        <td>
            <p align="left">
                {% for category in post.category.all %}
                <font size="5"> "{{ category }}" </font>
                <br>
                {% endfor %}
            </p>

        </td>
    </tr>
    <tr>
        <td>
            <h3 align="left">Content: &nbsp</h3>
        </td>
        <td align="left">
            <p align="left">
                <font size="5"> {{ post.content }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h3 align="left">Type: &nbsp</h3>
        </td>
        <td align="left">
            <p align="left">
                <font size="5"> {{ post.type }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h3 align="left">Date/Time: &nbsp</h3>
        </td>
        <td align="left">
            <p align="left">
                <font size="5"> {{ post.time_of_creation|date:'d.m.Y/H:i' }} </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h3 align="left">Post rating: &nbsp</h3>
        </td>
        <td align="left">
            <p align="left">
                <font size="5"> {{ post.post_rating }} </font>
            </p>
        </td>
    </tr>
</table>

{% if registered_user %}
<p style="text-align: left">
<form action="" method="post">
    {% csrf_token %}
    {{ comment_form|crispy }}
    <br>
    <button type="submit" class="btn btn-success">Comment</button>
</form>
</p>
{% endif %}

{% if own_post %}
<p align="right">
    <button type="button" class="btn btn-danger">
        <a href="{% url 'post_delete' post.id %}" style="color:white">Delete</a>
    </button>
    <button type="button" class="btn btn-secondary">
        <a href="{% url 'post_update' post.id %}" style="color:white">Edit</a>
    </button>
</p>
{% endif %}

{% endblock %}