<!DOCTYPE html>

{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Новая статья от автора "{{ post.author }}"<br>
        Заголовок: {{ post.title }}
    </h1>
    <h2>Категории:
        {% for category in post.category.all %}
        '{{ category }}'
        {% endfor %}
    </h2>
    <h2>Текст:</h2>
    <p><font size="3">{{ content }}</font></p>
    <h2>Ссылка:</h2>
    <p>
        <font size="3">
            <a href="http://127.0.0.1:8000{% url 'post_detail' post.id %}">Перейти на статью</a>
        </font>
    </p>
</body>
</html>